<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="public/css/studentList.scss" />
</head>

<div class="container mt-3 mb-4">
    <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="row">
            <div class="col-md-12">
                <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
                    <table class="table manage-candidates-top mb-0">
                        <thead>
                        <tr>
                            <th>Fields<span>&nbsp;&nbsp;&nbsp;&nbsp;</span><a class="btn btn-success" href="/admin/field/add" role="button"><i  class="fa fa-plus" aria-hidden="true"></i> ADD</a></th>
                            <th class="action text-right">Action</th>
                        </tr>
                        </thead>
                        <tbody id="content">

                        {{#each this.fields}}
                            <tr class="candidates-list" data-id={{ID_FIELD}}>
                                <td class="title">
                                    <div class="candidate-list-details">
                                        <div class="candidate-list-info">
                                            <div class="candidate-list-title">
                                                <h5 class="font-weight-bold mb-0"><a href="/admin/field/{{ID_FIELD}}">{{FIELDNAME}}</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <ul class="list-unstyled mb-0 d-flex justify-content-end">
                                        <li><a class="btn btn-info" href="/admin/field/edit?id={{ID_FIELD}}" role="button"><i  class="far fa-edit"></i> Edit</a></li>
                                        
                                    </ul>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center mt-3 mt-sm-3">
                        <nav class="shadow-sm">
                            <ul class="pagination">

                                <li class="page-item {{#if hasNotPrev}}disabled{{/if}}">
                                    <a class="page-link" href="?page={{prev}}">Previous</a>
                                </li>
                                {{#each this.pageNumbers}}
                                    {{#if isCurrent}}
                                        <li class="page-item active" aria-current="page">
                                            <span class="page-link">{{value}}</span>
                                        </li>
                                    {{else}}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{value}}">{{value}}</a>
                                        </li>
                                    {{/if}}
                                {{/each}}
                                {{#if isNotEnd}}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{next}}">Next</a>
                                    </li>
                                {{/if}}

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
